
# Author     KMS - Martin Dubois, ing.
# Copyright  (C) 2018-2019 KMS. All rights reserved.
# Product    OpenNet
# File       .gitignore

/.vs/
/Binaries/
/Import/
/Installer/
/KmsDoc/
/Libraries/
/Packages/
/Signed/
/disk1/
/doxygen_en/
/doxygen_fr/
/htm/

x64/

/OpenNet.VC.VC.opendb
/OpenNet.VC.db
/Signed_*.zip
/setup.inf
/setup.rpt

.cache.mk
.tmp_versions
Module.symvers
modules.order

*.bak
*.ko
*.ko.cmd
*.mod.c
*.o
*.o.cmd
*.user